@use "mixins" as *;

.hero-section {
    padding: 0 100px;

    @include mobile {
        padding: 0;
    }
}

.hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    min-height: 100dvh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
}

h1 {
    font-family: "syne";
    font-size: clamp(36px, 5.5vw + 1rem, 8rem);
    font-weight: 800;
    line-height: 100%;
    text-align: center;
    letter-spacing: -2.5%;
    color: #000000;


}

.hero-name {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding-top: 4px;
    align-self: self-end;
}

.vector {
    flex: 1;
    width: 100%;
    height: 3px;

    @include mobile {
        width: 124px;
    }
}

.name {
    font-family: "overpass";
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -2.5%;
    color: #00BC8F;
    white-space: nowrap;

    @include mobile {
        font-size: 1rem;
    }

    @include tablet {
        font-size: 28px;
    }

    @include laptop {
        font-size: 39px;
    }
}

.hero-email {
    position: absolute;
    bottom: 14%;
    left: -38px;
    font-family: "overpass";
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: -2.5%;
    rotate: -90deg;
}

.scroll-indicator {
    position: absolute;
    right: 8%;
    bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    & img {
        width: 50px;
        height: 90px;
    }

    & p {
        font-family: "overpass";
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: -2.5%;
    }
}

.arrow-wrap {
    position: relative;
    width: 53px;
    height: 95px;
    overflow: hidden;
}

.arrow {
    position: absolute;
    left: 0;
    animation: arrowLoop 1.6s linear infinite;
}

@keyframes arrowLoop {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(150px);
    }
}