@use 'mixins' as *;

header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    padding: 0 100px;
    background-color: #FFFCF3;

    @include mobile {
        padding: 0 25px;
    }

    @include tablet {
        padding: 0 50px;
    }

    & svg {
        height: 30px;
    }
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

.language {
    display: flex;
    gap: 8px;

    &.mobile {
        display: none;
    }

    @include mobile {
        &.desktop {
            display: none;
        }
    }

    @include mobile {
        &.mobile {
            display: block;
        }
    }

    & button {
        position: relative;
        padding: 3px 6px;
        background-color: unset;
        border: 2px solid transparent;
        cursor: pointer;
        @include font(syne, 700, 1rem, 120%, 0%);

        &.current {
            border: 2px solid #00BC8F;
        }

        &:active {
            border: 2px solid black;
        }

        &:not(.current):not(:active):hover {
            &::after {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 50%;
                height: 2px;
                background-color: black;
                content: "";
            }
        }

    }
}

.burger-btn {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.line {
    transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
}

.burger-btn.open {
    .line-top {
        transform: translateY(17px) rotate(45deg);
    }

    .line-middle {
        opacity: 0;
    }

    .line-bottom {
        transform: translateY(-17px) rotate(-45deg);
    }
}

.menu-overlay {
    position: fixed;
    z-index: 200;
    top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    height: 100dvh;
    padding-top: 50px;
    background-color: #FFFCF3;
    animation: fadeIn 200ms ease-in-out;

    & button {
        padding: 20px 0;
        background: none;
        border: none;
        cursor: pointer;
        @include font(syne, 700, 32px, 120%, 0%);

        &:hover {
            color: #00BC8F;
            border-color: #00BC8F;
        }
    }
}

.menu-overlay button {
    position: relative;
    width: 250px;

    &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 12px;
        height: 20px;
        content: "";
        border-left: 3px solid black;
        border-bottom: 3px solid black;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.menu-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 43%;

    @include mobile {
        flex-direction: column;
        align-items: center;
        gap: 37px;
    }

    & img {
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        inset: 0;
    }

    & .menu-footer-text {
        position: relative;
        z-index: 20;
        padding-top: 72px;
        padding-left: 100px;

        @include mobile {
            padding-left: 0px;
            text-align: center;
        }

        & h2 {
            color: #FFFCF3;
            @include font(syne, 800, 58px, 100%, 1%);

            @include mobile {
                font-size: 2rem;
            }
        }

        & p {
            padding-top: 20px;
            color: #FFFCF3;
            @include font(overpass, 400, 20px, 100%, 1%);
        }
    }

    &::before {
        position: absolute;
        z-index: -10;
        background-color: black;
        inset: 0;
        content: "";
        clip-path: polygon(0 0, 100% 28%, 100% 100%, 0 100%);

        @include mobile {
            clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
        }
    }
}

.menu-footer-socials {
    z-index: 20;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 42px;
    padding-right: 100px;
    padding-bottom: 20px;

    @include mobile {
        padding-right: 0;
        padding-bottom: 0;

        & svg {
            height: 30px;
        }
    }

    .social-link {
        display: inline-block;
    }

    .social-icon {
        display: inline-block;
        transition: transform 300ms ease-in-out;
    }

    .social-link:hover .social-icon {
        transform: translateY(-20px);
    }
}