@use 'mixins' as *;

.skills-section {
    padding: 0 100px;
    scroll-margin-top: 150px;
}

.skills-wrapper {
    @include flex(column, center, center);
    position: relative;
    border: 4px solid black;

    & h2 {
        @include font("syne", 800, 78px, 100%, 1%);
        position: absolute;
        top: 0;
        left: 50%;
        padding: 10px;
        background-color: #FFFCF3;
        white-space: nowrap;
        transition: color 100ms ease-in-out;
        transform: translate(-50%, -50%);

        &:hover {
            color: #00BC8F;
        }
    }
}

.skills-item-wrapper {
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 78px 128px;
    margin: 0 114px;
    margin-top: 120px
}

.skills-item {
    @include flex(column, center, center);
    gap: 10px;
    transition: all 100ms ease-in-out;

    & img {
        width: 71px;
        height: 75px;
    }

    & p {
        @include font("overpass", 700, 1rem, 120%, 0%);
    }

    &:hover {
        color: #00BC8F;
    }
}

.contact-me-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 48px;
    margin-bottom: 120px;

    & img {
        width: 75px;
        height: 75px;
    }

    & p {
        @include font("overpass", 400, 22px, 120%, 0%);
        align-self: end;
    }
}

span {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    font-weight: 400;
    color: #00BC8F;
    transition: all 100ms ease-in-out;
    cursor: pointer;

    &::before {
        display: block;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        font-weight: 700;
        content: attr(data-text);
    }

    &::after {
        position: absolute;
        bottom: -2px;
        left: 70px;
        width: 40%;
        height: 2px;
        background-color: currentColor;
        visibility: hidden;
        content: "";
        transform: translateX(-20%);
        transition: transform 100ms ease-in;
    }

    &:hover {
        font-weight: 700;

        &::after {
            visibility: visible;
            transform: translateX(0);
        }
    }
}

.icon-wrapper {
    display: inline-block;
    perspective: 400px;
}

.icon-wrapper img {
    display: block;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: visible;
}

.icon-wrapper:hover img {
    animation: flip-once 0.3s ease-in-out forwards;
}

@keyframes flip-once {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}