@use 'mixins' as *;

.wrapper {
    position: relative;
    padding: 0 100px;
    padding-top: 166px;
    padding-bottom: 10px;
    color: #FFFCF3;
    scroll-margin-top: -33px;

    @include mobile {
        padding: 0 25px;
        padding-top: 90px;
    }

    &>h2 {
        width: fit-content;
        transition: all 100ms ease-in-out;
        @include font(syne, 800, 78px, 100%, 0%);

        @include mobile {
            font-size: 37px;
        }

        &:hover {
            color: #00BC8F;
        }
    }

    &::before {
        position: absolute;
        z-index: -10;
        background-color: black;
        inset: -1px 0 -1px 0;
        content: "";
        clip-path: polygon(0 0, 100% 14%, 100% 100%, 0 100%);

        @include mobile {
            clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
        }
    }
}

.contact-header {
    margin-top: 40px;
    text-align: center;

    & h3 {
        @include font(overpass, 700, 32px, 120%, 0%);
        color: #00BC8F;

        @include mobile {
            font-size: 30px;
        }
    }

    &>p {
        margin-top: 18px;
        @include font(overpass, 400, 22px, 120%, 0%);

        @include mobile {
            font-size: 19px;
        }
    }
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 22px;

    .input-group {
        position: relative;
        width: 600px;

        @include mobile {
            width: 100%;
        }

        label {
            position: absolute;
            z-index: 1;
            top: -9px;
            left: 21px;
            padding: 0 6px;
            background-color: black;
            opacity: 0;
            color: #FFFCF3;
            pointer-events: none;
            transition: opacity 100ms ease-in-out;
            @include font(overpass, 400, 13px, 120%, 0%);
        }


        input,
        textarea {
            width: 100%;
            padding: 15px 25px;
            background-color: black;
            border: 2px solid transparent;
            color: #FFFCF3;
            border-bottom: 2px solid #FFFCF3;
            transition: border-color 100ms ease-in-out;
            @include font(overpass, 400, 16px, 120%, 0%);

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                -webkit-box-shadow: 0 0 0 1000px black inset;
                box-shadow: 0 0 0 1000px black inset;
                -webkit-text-fill-color: #FFFCF3;
                transition: background-color 600000s 0s, color 600000s 0s;
                caret-color: #FFFCF3;
            }

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: #FFFCF3;
                @include font(overpass, 400, 16px, 120%, 0%);
            }
        }

        textarea {
            height: 150px;
            resize: none;
        }


        &:hover input,
        &:hover textarea,
        &:focus-within input,
        &:focus-within textarea,
        &.touched input,
        &.touched textarea {
            border: 2px solid #FFFCF3;
        }

        &:focus-within label,
        &.touched label {
            opacity: 1;
        }

        &.invalid input,
        &.invalid textarea {
            border-color: #FF5C5C;
        }

        &.valid input,
        &.valid textarea {
            border-color: #00BC8F;
        }

        .status-icon {
            position: absolute;
            top: 15px;
            right: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            color: white;
            @include font(overpass, 700, 14px, 100%, 0%);

            &.error-icon {
                background-color: #FF5C5C;
            }

            &.success-icon {
                background-color: #00BC8F;
            }
        }
    }

    .error-text {
        position: absolute;
        width: 600px;
        margin-top: -10px;
        color: #FF5C5C;
        align-self: center;
        @include font(overpass, 400, 13px, 120%, 0%);

        &.name {
            top: 65px;
        }

        &.email {
            top: 148px;
        }

        &.message {
            top: 328px;
        }

        &.privacy {
            top: 33px;

            @include mobile {
                top: calc(100% + 16px);
            }
        }

        @include mobile {
            width: 100%;
        }
    }

    & button {
        width: auto;
        margin-top: 15px;
        padding: 20px 60px;
        background-color: transparent;
        border: 4px solid #BBBBBB;
        box-shadow: 5px 5px 15px 0px #00000026;
        opacity: 50%;
        color: #BBBBBB;
        cursor: not-allowed;
        align-self: center;
        transition: all 100ms ease-in-out;
        @include font(overpass, 400, 24px, 120%, 0%);

        &:not(.disabled) {
            opacity: 1;
            color: #FFFCF3;
            border-color: #FFFCF3;
            cursor: pointer;
        }

        @include mobile {
            font-size: 21px;
            padding: 20px 40px;
        }
    }
}

.checkbox {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    cursor: pointer;

    &>p {
        margin-top: 2.5px;
        @include font(overpass, 400, 14px, 120%, 0%);
    }

    &:hover {
        & .privacy {
            font-weight: 700;
        }
    }

    &.privacy-label {
        position: relative;
    }
}

.privacy {
    position: relative;
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
    color: #00BC8F;
    transition: all 100ms ease-in;
    cursor: pointer;
}

.privacy:lang(en)::before {
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    font-weight: 700;
    content: attr(data-text-2);
}

.privacy:lang(de)::before {
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    font-weight: 700;
    content: attr(data-text-1);
}

.checkbox input {
    display: none;
}

.checkbox-visual {
    position: relative;
    display: inline-flex;
}

.checkbox-visual::before {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 22px;
    background: #00BC8F;
    border-radius: 50%;
    opacity: 0;
    content: "";
    transform: translate(-50%, -50%);
    transition: opacity .2s;
}

.checkbox:hover .checkbox-visual::before {
    opacity: 1;
}

.checkmark {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    border: 2px solid white;
    transition: 0.2s;
}

.checkmark::after {
    position: relative;
    z-index: 0;
    display: none;
    width: 6px;
    height: 12px;
    margin-bottom: 5px;
    border: 2px solid white;
    content: "";
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

input:checked+.checkmark::after {
    display: block;
}

.arrow-wrap {
    position: absolute;
    right: 100px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 39px;
    height: 78px;
    cursor: pointer;

    & svg {
        height: 200%;
    }

    @include mobile {
        display: none;
    }
}

.stem {
    transform: scaleY(1);
    transform-box: fill-box;
    transform-origin: bottom;
    transition: transform 0.3s ease;
}

.chevron {
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.arrow-wrap:hover .stem {
    transform: scaleY(1.4);
}

.arrow-wrap:hover .chevron {
    transform: translateY(-21.2px);
}