@use 'mixins' as *;

.contact-section {
    position: relative;
    padding: 0 100px;
    padding-top: 100px;
    padding-bottom: 10px;
    background-color: black;
    color: #FFFCF3;
    scroll-margin-top: 100px;

    &>h2 {
        width: fit-content;
        transition: all 100ms ease-in-out;
        @include font(syne, 800, 78px, 100%, 0%);

        &:hover {
            color: #00BC8F;
        }
    }
}

.contact-header {
    margin-top: 40px;
    text-align: center;

    & h3 {
        @include font(overpass, 700, 32px, 120%, 0%);
        color: #00BC8F;
    }

    &>p {
        margin-top: 18px;
        @include font(overpass, 400, 22px, 120%, 0%);
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 22px;

    &>input,
    textarea {
        width: 600px;
        padding: 15px 25px;
        background-color: black;
        border: none;
        color: #FFFCF3;
        border-bottom: 2px solid #FFFCF3;

        &::placeholder {
            @include font(overpass, 400, 16px, 120%, 0%);
            color: #FFFCF3;
        }

        &:hover {
            &:hover {
                box-shadow: inset 0 0 0 4px #FFFCF3;
                border-bottom: 2px solid transparent;
            }
        }
    }

    & textarea {
        height: 150px;
    }

    & button {
        width: auto;
        margin-top: 15px;
        padding: 20px 60px;
        background-color: transparent;
        border: 4px solid #BBBBBB;
        box-shadow: 5px 5px 15px 0px #00000026;
        opacity: 50%;
        color: #BBBBBB;
        cursor: pointer;
        align-self: center;
        @include font(overpass, 400, 24px, 120%, 0%);
    }
}

.checkbox {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    cursor: pointer;

    &>p {
        margin-top: 2.5px;
        @include font(overpass, 400, 14px, 120%, 0%);
    }

    &:hover {
        & .privacy {
            font-weight: 700;
        }
    }
}

.privacy {
    position: relative;
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
    color: #00BC8F;
    transition: all 100ms ease-in;
    cursor: pointer;
}

.privacy::before {
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    font-weight: 700;
    content: attr(data-text);
}

.checkbox input {
    display: none;
}

.checkbox-visual {
    position: relative;
    display: inline-flex;
}

.checkbox-visual::before {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 22px;
    background: #00BC8F;
    border-radius: 50%;
    opacity: 0;
    content: "";
    transform: translate(-50%, -50%);
    transition: opacity .2s;
}

.checkbox:hover .checkbox-visual::before {
    opacity: 1;
}

.checkmark {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    border: 2px solid white;
    transition: 0.2s;
}

.checkmark::after {
    position: relative;
    z-index: 0;
    display: none;
    width: 6px;
    height: 12px;
    margin-bottom: 5px;
    border: 2px solid white;
    content: "";
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

input:checked+.checkmark::after {
    display: block;
}

.arrow-wrap {
    position: absolute;
    right: 100px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 39px;
    height: 78px;
    cursor: pointer;

    & svg {
        height: 200%;
    }
}

.stem {
    transform: scaleY(1);
    transform-box: fill-box;
    transform-origin: bottom;
    transition: transform 0.3s ease;
}

.chevron {
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.arrow-wrap:hover .stem {
    transform: scaleY(1.4);
}

.arrow-wrap:hover .chevron {
    transform: translateY(-21.2px);
}