@use '../../../../styles/mixins' as *;

header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    padding: 0 100px;
    background-color: #FFFCF3;

    & svg {
        height: 30px;
    }
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 30px 25px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

.language {
    display: flex;
    gap: 8px;

    & button {
        position: relative;
        padding: 3px 6px;
        background-color: unset;
        border: 2px solid transparent;
        cursor: pointer;
        @include font(syne, 700, 1rem, 120%, 0%);

        &.current {
            border: 2px solid #00BC8F;
        }

        &:active {
            border: 2px solid black;
        }

        &:not(.current):not(:active):hover {
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 50%;
                height: 2px;
                background-color: black;
            }
        }

    }
}