@use 'mixins' as *;

.about-me-section {
    scroll-margin-top: 100px;
    display: flex;
    gap: 87px;
    margin-top: 160px;
    padding: 0 100px;
}

.about-me-left {
    @include flex(column);
    gap: 48px;
    width: 60%;

    & h2 {
        font-family: "syne";
        font-size: 78px;
        font-weight: 800;
        letter-spacing: 1%;
        white-space: nowrap;
        transition: all 100ms ease-in-out;

        &:hover {
            color: #00BC8F;
        }
    }

    & p {
        @include font("overpass", 400, 22px, 120%m 0%)
    }

    & .info-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;

        & .info {
            display: flex;
            align-items: center;
            gap: 8px;

            & svg {
                width: 40px;
                height: 40px;
            }
        }
    }

    & button {
        width: auto;
        padding: 20px 60px;
        background-color: #FFFCF3;
        border: 4px solid black;
        align-self: center;
        cursor: pointer;
        transition: padding 100ms ease-in-out;
        @include font("overpass", 400, 23px, 120%, 0%);

        &:hover {
            @include font("overpass", 700, 23px, 120%, 0%);
            padding: 20px 90px;
            box-shadow: 5px 5px 15px 0px #00000026;
        }

        &:active {
            background-color: black;
            box-shadow: 5px 5px 15px 0px #00000026;
            color: #FFFCF3;
        }
    }
}

.about-me-right {
    position: relative;
    width: 40%;
    margin-top: 151px;

    &:hover {
        .border {
            opacity: 1;
        }
    }

    & img {
        width: 533px;
        height: 533px;
    }
}

.border {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 533px;
    height: 533px;
    border: 4px solid black;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}