@use "mixins" as *;

:host {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    margin-top: 150px;
    margin-bottom: 100px;
    padding: 0px 200px;

    @include mobile {
        margin-top: 95px;
        margin-bottom: 50px;
        padding: 0 25px;
    }

    @include tablet {
        margin-top: 95px;
        margin-bottom: 50px;
        padding: 0 50px;
    }
}

.main-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 64px;
}

h1 {
    width: fit-content;
    transition: color 100ms ease-in-out;
    @include font(syne, 800, 78px, 100%, 1%);

    @include mobile {
        &:lang(de) {
            font-size: 28px;
        }

        font-size: 32px;
    }

    @include tablet {
        font-size: 32px;
    }

    &:hover {
        color: #00BC8F;
    }
}

.home-button {
    display: none;
    justify-content: end;
    margin-right: 7px;
    margin-bottom: 20px;

    & svg {
        width: 35px;
        height: 50px;
    }

    @include mobile {
        display: flex;
    }

    @include tablet {
        display: flex;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px
}

.subtitle-box {
    display: flex;
    flex-direction: column;

    & h2 {
        color: #00BC8F;
        @include font(overpass, 700, 19px, 120%, 0%);

        @include mobile {
            font-size: 23px;
        }
    }

    & p {
        color: black;
        @include font(overpass, 400, 1rem, 120%, 0%);
    }

    & span {
        color: #00BC8F;
        @include font(overpass, 400, 1rem, 120%, 0%);
    }
}