.arrow-right-section {
    display: flex;
    justify-content: start;
    margin-bottom: 70px;
    margin-top: 80px;
    margin-left: 50px;
    padding: 0 100px;

    & img {
        width: 116px;
        height: 215px;
        rotate: -45deg;
    }
}