.arrow-right-section {
    display: flex;
    justify-content: end;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 70px;
    padding: 0 100px;

    & img {
        width: 116px;
        height: 215px;
        margin-right: 50px;
        rotate: 45deg;
    }
}