@use "mixins" as *;

.arrow-right-section {
    display: flex;
    justify-content: end;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 70px;
    padding: 0 100px;

    & svg {
        width: 116px;
        height: 215px;
        margin-right: 50px;
        rotate: 45deg;

        @include mobile {
            margin-right: 0;
        }

        @include tablet {
            margin-right: 0;
        }
    }

    @include mobile {
        justify-content: center;
        margin-right: 0;
        margin-left: 0;
    }

    @include tablet {
        justify-content: end;
        margin-right: 0;
        margin-left: 0;
    }
}